becpg-core/src/main/resources/alfresco/templates/webscripts/fr/becpg/remote/remoteAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.bcpg.fr/model/becpg/1.0/remote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="remoteAPI"
	targetNamespace="http://www.bcpg.fr/model/becpg/1.0/remote">


	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bcpg.fr/model/becpg/1.0/remote"
				schemaLocation="remoteAPI.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getEntityRequest">
		<wsdl:part name="getEntityRequest" type="tns:getEntityType" />
	</wsdl:message>
	<wsdl:message name="getEntityResponse">
		<wsdl:part name="getEntityResponse" type="tns:entityType" />
	</wsdl:message>

	<wsdl:message name="getEntityListRequest">
		<wsdl:part name="getEntityListRequest" type="tns:getEntityListType" />
	</wsdl:message>
	<wsdl:message name="getEntityListResponse">
		<wsdl:part name="getEntityListResponse" type="tns:entityListType" />
	</wsdl:message>
	<wsdl:portType name="EntityPortType">
		<wsdl:operation name="getEntityList">
			<wsdl:input message="tns:getEntityListRequest" />
			<wsdl:output message="tns:getEntityListResponse" />
		</wsdl:operation>
		<wsdl:operation name="getEntity">
			<wsdl:input message="tns:getEntityRequest" />
			<wsdl:output message="tns:getEntityResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EntityHTTPBinding" type="tns:EntityPortType">
		<http:binding verb="GET" />
		<wsdl:operation name="getEntityList">
			<http:operation location="/list" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEntity">
			<http:operation location="/" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Entity">
		<wsdl:port binding="tns:EntityHTTPBinding" name="EntityHTTPEndpoint">
			<http:address
				location="http://localhost:8080/alfresco/service/becpg/remote/entity" />
		</wsdl:port>
	</wsdl:service>
	
	
	
</wsdl:definitions>
