becpg-core/src/main/amp/config/alfresco/templates/webscripts/fr/becpg/remote/remoteAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (C) 2010-2017 beCPG. 
   
  This file is part of beCPG 
   
  beCPG is free software: you can redistribute it and/or modify 
  it under the terms of the GNU Lesser General Public License as published by 
  the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version. 
   
  beCPG is distributed in the hope that it will be useful, 
  but WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
  GNU Lesser General Public License for more details. 
   
  You should have received a copy of the GNU Lesser General Public License along with beCPG. If not, see <http://www.gnu.org/licenses/>.
-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.bcpg.fr/model/becpg/1.0/remote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="remoteAPI"
	targetNamespace="http://www.bcpg.fr/model/becpg/1.0/remote">


	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bcpg.fr/model/becpg/1.0/remote"
				schemaLocation="remoteAPI.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getEntityRequest">
		<wsdl:part name="getEntityRequest" type="tns:getEntityType" />
	</wsdl:message>
	<wsdl:message name="getEntityResponse">
		<wsdl:part name="getEntityResponse" type="tns:entityType" />
	</wsdl:message>

	<wsdl:message name="getEntityListRequest">
		<wsdl:part name="getEntityListRequest" type="tns:getEntityListType" />
	</wsdl:message>
	<wsdl:message name="getEntityListResponse">
		<wsdl:part name="getEntityListResponse" type="tns:entityListType" />
	</wsdl:message>
	<wsdl:portType name="EntityPortType">
		<wsdl:operation name="getEntityList">
			<wsdl:input message="tns:getEntityListRequest" />
			<wsdl:output message="tns:getEntityListResponse" />
		</wsdl:operation>
		<wsdl:operation name="getEntity">
			<wsdl:input message="tns:getEntityRequest" />
			<wsdl:output message="tns:getEntityResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EntityHTTPBinding" type="tns:EntityPortType">
		<http:binding verb="GET" />
		<wsdl:operation name="getEntityList">
			<http:operation location="/list" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEntity">
			<http:operation location="/" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Entity">
		<wsdl:port binding="tns:EntityHTTPBinding" name="EntityHTTPEndpoint">
			<http:address
				location="http://localhost:8080/alfresco/service/becpg/remote/entity" />
		</wsdl:port>
	</wsdl:service>
	
	
	
</wsdl:definitions>
